<!DOCTYPE html>

<html>
    <head>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link rel="stylessheet" href="/components/bootstrap/dist/css/bootstrap.min.css" />
        <script src="/components/jquery/dist/jquery.min.js"></script>
        <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
        <title><%= page.title %></title>
    </head>
    <body>
        <%- body -%>
    </body>
</html>